.type-632 .btn-success {
	color: #fff;
	background-color: #5ac05d;
	border-color: #4cae4c;
}
.type-632 .pull-right {
	float: right !important;
}
.type-632 .btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
    line-height: 1.42857143;
     	